@page "/"
@using Demo.ApiClient
@using Demo.ApiClient.Models.ApiModels
@inject DemoApiclientService apiClient

<div class="card">
    <div class="card-body p-0">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>Code </th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Add new product row -->
                <tr>
                    <td>
                        <input @bind="addProductModel.ProductCode" class="form-control" placeholder="Code" />
                    </td>
                    <td>
                        <input @bind="addProductModel.ProductName" class="form-control" placeholder="Name" />
                    </td>
                    <td>
                        <input @bind="addProductModel.Price" class="form-control" placeholder="Price" />
                    </td>
                    <td>
                        <a @onclick="AddProducts" href="javascript:void(0)">Save</a>
                    </td>
                </tr>

                <!-- Display existing products -->
                @if (products?.Any() ?? false)
                {
                    @foreach (var product in products)
                    {
                        <ProductRowItemComponent ProductRowItem="product"
                                                 OnEdit="EditProduct"
                                                 OnDelete="DeleteProduct" />
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="4">-- No products --</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<Product>? products;  // Holds list of products
    private Product addProductModel = new();  // Holds new product data

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();  // Load products on initialization
    }

    private async Task LoadProducts()
    {
        products = await apiClient.GetProducts();
    }

    private async Task AddProducts()
    {
        await apiClient.SaveProduct(addProductModel);
        await LoadProducts();
        addProductModel = new();  // Reset add product model after save
    }

    public async Task EditProduct(Product product)
    {
        await apiClient.UpdateProduct(product);
        await LoadProducts();
    }

    private async Task DeleteProduct(int id)
    {
        await apiClient.Deleteproduct(id);
        await LoadProducts();
    }
}
